@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --orange-color: #ed4705;
  /* --orange-color: #ff5722; */
  --blue-color: rgb(37,61,152);
  --black-color: rgb(18,18,18);

}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-orange: var(--orange-color);
  --color-black: var(--black-color);
  --color-blue: var(--blue-color);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}


body {
  background: var(--background);
  color: var(--foreground);
}
